# https://wails.io/docs/guides/crossplatform-build/
name: Wails Build

on:
  push:
    branches: [ main, feat/ci ]
    tags: [ 'v*' ]

env:
  # Necessary for most environments as build failure can occur due to OOM issues
  NODE_OPTIONS: "--max-old-space-size=4096"

jobs:
  build:
    strategy:
      # Failure in one platform build won't impact the others
      fail-fast: false
      matrix:
        build:
          - name: 'App'
            platform: 'windows/amd64'
            os: 'windows-latest'

    runs-on: ${{ matrix.build.os }}
    defaults:
      run:
        working-directory: ./desktop
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@v2.9.0
      - name: Build
        run: wails build -platform ${{ matrix.build.platform }}